<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        
        <link rel="stylesheet" href="/css/global.css">

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script defer src="/javascripts/script.js" ></script>

        <title>MCO1</title>

    </head>
    <body>
        <div id="page-container">
            <div id="main">
              <h1><i class="icon-gamepad fa-4x"></i> Steam Games Dashboard</h1>
              <hr>
            
              <div id="query">
                <form method="GET">
                    <label for="querySelect">Select a query:</label>
                    <select name="querySelect" id="querySelect">
                        <option value="-1" selected disabled>Select a query to generate a report.</option>
                        <!-- Query options will be added here -->
                         <option value="1">Average Video Game Prices Over Time</option>
                         <option value="2">Sample QUERY 2</option>
                    </select>
                </form>

                <!-- <form id="query1Options" method="GET">
                  <label for="timeRange1">Show Results By: </label>
                    <select name="timeRange1" id="timeRange1">
                         <option value="year">Year</option>
                         <option value="month">Month of a Specific Years</option>
                    </select>
                  <label for="genre1">Compare Two Genres: </label>
                    <select name="genre1" id="genre1">
                      <option value="year">Year</option>
                      <option value="month">Month of a Specific Years</option>
                    </select>
                    <select name="genre2" id="genre2">
                    <select name="timeRange1" id="timeRange1">
                      <option value="year">Year</option>
                      <option value="month">Month of a Specific Years</option>
                    </select>
                </form> -->

              </div>


              <div id="queryTimer">
                <h4>Progress: <span id="queryProgress">Selecting a query...</span></h4>
              </div>

              <h3> Summary </h3>
              <div id="charts" class="hideOnStart">
                <div class="chart">
                    <canvas id="barChart"></canvas>
                </div>

                <div class="chart">
                    <canvas id="pieChart"></canvas>
                </div>

                <div class="chart">
                  <canvas id="lineChart"></canvas>
              </div>
              </div>
              
              <h3> Report Details </h3>
              <table id="queryTable" class="hideOnStart">
                <thead>
                    <tr id="tableHeaders">
                        <!-- Columns will be added here -->
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <!-- Rows will be added here -->
                </tbody>
              </table>

              <div id="tableButtons" class="hideOnStart">
                <button id="prevBtn">PREV</button>
                <div>Page <span id="currentPage">1</span></div>
                <button id="nextBtn">NEXT</button>
              </div>


            </div>


          <footer>
                <hr/>
                <em>MCO1 Project - Created by Capunitan, Santiago, & Villarica (XX22) </em>
          </footer>

        </div>


    </body>


</html>